@import "variables";
@import "burger-menu";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arvo;
  font-weight: 100;
  line-height: 1.5;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

h1,h2,
h3,h4,
h5,h6 {
  font-family: Recoleta-Bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: Recoleta-Bold;
  src: url("../fonts/Recoleta-Bold.otf") format("otf"),
    url("../fonts/Recoleta-Bold.ttf") format("ttf"),
    url("../fonts/Recoleta-Bold.woff") format("woff"),
    url("../fonts/Recoleta-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/Poppins-Regular.eot") format("eot"),
    url("../fonts/Poppins-Regular.otf") format("otf"),
    url("../fonts/Poppins-Regular.ttf") format("ttf"),
    url("../fonts/Poppins-Regular.woff") format("woff"),
    url("../fonts/Poppins-Regular.woff2") format("woff2");
}

@font-face {
  font-family: New-Sun-Regular;
  src: url("../fonts/New-Sun-Regular.woff2") format("woff2"),
    url("../fonts/New-Sun-Regular.woff") format("woff");
}

main {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: 1200px;
}

.page.dark {
  background-color: $night;
}

.page.dark .overlay {
  opacity: 1;
}

.page.dark .logo,
.page.dark .header p,
.links a {
  color: white;
}

.links a {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: unset;
  font-family: Arvo;
  font-weight: 100;
}

nav {
  color: $night;
  width: 100%;
  z-index: 1;

  .logo a {
    color: $night;
    font-family: Recoleta-Bold;
  }

  .links a {
    color: $night;
  }

  .burger-icon .line {
    background: $night;
  }

  img {
    filter: brightness(0) saturate(100%) invert(8%) sepia(53%) saturate(1973%) hue-rotate(218deg) brightness(87%) contrast(105%);
  }
}

button {
  width: fit-content;
  padding: 9px 32px;
  background: $night;
  color: $white;
  font-size: 1em;
  border: 0;
  border-radius: 3px;  
  &:hover {
    cursor: pointer;
  }
}

.col-1 {
  grid-column: 1 / 2;
}

.half-width-1 {
  grid-column: 1 / 4;
}

.half-width-2 {
  grid-column: 4 / -1;
}

.full-width {
  width: 100%;
  grid-column: 1 / -1;
}

.flex-v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-h-center {
  display: flex;
  justify-content: center;
}

.flex-hv-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-left {
  margin-right: auto;
  justify-content: flex-start;
}

.flex-right {
  margin-left: auto;
  justify-content: flex-end;
}

.desktop-only {
  display: none;
}

nav {
  height: 100px;
  &.index {
    background: $day;
  }

  &.mobile-only {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
  }
}

nav.full-width {
  display: none;
  grid-row: 1 / 2;
  height: 75px;
  text-align: center;
}

.social {
  margin-right: 10px;
}

.toggle-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 60px;
  width: 60px;
  padding-top: 3px;
  margin-left: 10px;

  span {
    position: relative;
    bottom: 5px;
    font-size: 0.6em;
    color: $night;
    transition: all 1s ease;
  }
}

.dark .toggle-container span {
  color: $white;
}

.social div {
  width: 27px;
  height: 27px;
  margin: 0 15px;
}

img {
  display: block;
  height: 100%;
  width: auto;
}

.links {
  margin-left: 40px;
  margin-top: 10px;
}

.links > * {
  margin-right: 50px;
  font-size: 0.9em;
}

.logo {
  font-family: Recoleta-Bold;
  font-size: 2.5em;
  letter-spacing: -0.05em;
  color: #241e5f;
}

.page-width {
  width: 100%;
  padding: 0 10px;
}

@media screen and (min-width: $desktop) {
  nav {
    display: grid;
    grid-template-columns: repeat(6, 16.6%);
    border-bottom: 1px solid $light-grey;
    &.index {
      border-bottom: 0;
    }

    .logo {
      margin-left: 20px;
    }
  }

  main {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    padding-top: 75px;

    &.index {
      padding-top: 0;
      height: calc(100vh - 75px)
    }
  }

  nav.full-width {
    display: flex;
  }

  .mobile-only {
    display: none !important;
  }

  .desktop-only {
    display: block;
  }

  .page-width {
    width: 1000px;
    margin: 0 auto;
  }
}
